# === PYTHON CACHE / BUILD ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/

# === VIRTUAL ENVIRONMENTS ===
env/
venv/
ENV/
.venv/
.venv-1/
venv.bak/

# === LOGS & DATABASE FILES ===
*.log
*.sqlite3
*.db

# === TESTING & COVERAGE ===
.coverage
*.cover
htmlcov/
.tox/
.nox/
.pytest_cache/
.test.py
.testdebug.py

# === SYSTEM / EDITOR FILES ===
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# === ENVIRONMENT VARIABLES / KEYS ===
.env
.env.*
config.json
secrets.json

# === JUPYTER NOTEBOOK CHECKPOINTS ===
.ipynb_checkpoints/

# === TEMPORARY FILES ===
tmp/
temp/
*.bak
*.tmp


#=============my files========
024_powerball_game/
029_country_quiz_file_manipulation/

test.py
testdebug.py
ATM.PY
H_OOP.PY
drawing_panda_with_turtle.py